/* Universal Style */

/* Color Theme Swatches in RGBA */
.Forever-Home-Animal-Rescue-1-rgba { color: rgba(192, 79, 255, 1); }
.Forever-Home-Animal-Rescue-2-rgba { color: rgba(255, 69, 153, 1); }
.Forever-Home-Animal-Rescue-3-rgba { color: rgba(246, 110, 255, 1); }
.Forever-Home-Animal-Rescue-4-rgba { color: rgba(37, 5, 105, 0.904) }
.Forever-Home-Animal-Rescue-5-rgba { color: rgba(255, 77, 69, 1); }

html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

* {
    box-sizing: border-box;
}

.main-content {
    position: relative;
    top: 5.3125rem; /* To offset for fixed header. */
  }
  
  .center {
    text-align: center;
  }

  .image-container {
    overflow: hidden;
    width: 100%;
    height: 200px;
  }
  
  .image-container img {
    display: block;
    max-height: 100%;
    width: auto;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

/* Header */

header {
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: rgba(37, 5, 105, 0.904);
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header .icon {
    width: 4rem;
}

header .mobile {
    display: none;
}

header nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    color: blanchedalmond;
}

nav li {
    padding-left: 3.5rem;
}

header .desktop_name {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 5rem;
}

/* Banner */

.banner {
    background-image: url(./Images/Banner_updated.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 28.5rem;
    display: flex;
    justify-content: flex-start;
}

.banner h2 {
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    left: 15%;
    top: 22%;
    color: blanchedalmond;
    line-height: 2.5rem;
}

/* Animal Types */

#animal_types {
    background: rgba(37, 5, 105, 0.904);
    padding: 2rem;
}

#animal_types h2 {
    color: blanchedalmond;
    font-size: 1.7rem;
    letter-spacing: 0.2em;
}

#animal_types .images-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 2% 2%;
}

#animal_types button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
    margin-top: 2%;
    background-color: rgba(246, 110, 255, 1);
    color: rgba(37, 5, 105, 1);
    width: 33%;
    font-weight: bold;
}

#animal_types button:hover {
    cursor: pointer;
}

#animal_types button:active {
    margin-top: 5px;
    color: black;
    box-shadow: 0px 0px;
}

/* Meet the Team */

#team_members .images-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 5%;
}